body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.root {
  flex: 1 0 auto;
} */
#root {
  width: 80%;
  margin: 0 auto;
}

.card {
  width: 29%;
 float: left;
 margin: 10px;
}

.clearfix::before, .clearfix::after{
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
.fas{
  cursor: pointer;
  margin-right: 20px;
}

.female-color{
  background-color: pink;
}